* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: #333333;
    color: #ffffff;
}

h1 {
    text-align: center;
    padding: 40px;
    margin: 40px;
}

.container,
.showArrRes,
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.container {
    width: 50%;
    height: 100vh;
}

form {
    background-color: #4e4e4e;
    width: 50%;
    padding: 20px;
}

form input {
    width: 100%;
    padding: 5px;
    font-size: 1.1rem;
    margin: 10px auto;
}

button,
input {
    outline: none;
}

button {
    padding: 5px 10px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

.showArrRes {
    padding: 20px;
    font-size: 1.3rem;
    min-height: 200px;
}

@media (max-width: 768px) {
    form {
        width: 70%;
    }
}